* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

/* Header */

header {
    
    margin: 0 auto;   
    width: 90%;	   
    display: flex;
    justify-content: space-between;
    align-items: baseline;
   
}	

.logo {
    width: 100%;
    padding: 0;
    margin: 0;
    color: #000000;    
    font-size: 97%;
    text-decoration: none;
    text-align: left;  
    display: block;	
}


nav a {
	text-decoration: none;	
	font-family: Inter;
	color: #000000;
}

nav a:hover {
    font-weight: bold;
}

.active {
    font-weight: bold;
}


.logo {
	text-decoration: none;
}

/* Main section */

body {
    height: auto;
    width: 100%;
    margin: 0 auto;
    padding: 0 0 10px 0;
    background-color: #ffffff;
}

main {
	background-color: #ffffff;
	width: 90%;
	margin: 50px auto 0 auto;	
}

main a {
	text-decoration: none;
}


ul {
	list-style-position: inside;
}

ul li {
	font-family: Inter;
}


section {	
	width: 100%;	
	margin: 20px auto;	
	padding: 1%;	
	display: grid;
        grid-template-columns: 1fr 1fr;
}

.left img {
	width: 100%;		
	margin: 0;
	display: block;
}



.project {
	width: 100%;
	margin: 0;
	display: block;
}

.right {
	display: flex;
	align-items: center;
	justify-content: center;
}

.right h2 {	
	text-decoration: none;
	color: #ffffff;	
}

.banking {
background-color: #0A1531;
}

.appointments {
background-color: #2C6262;
}

.hotel {
background-color: #0C4A93;
}

h1, h2, h3, h4, p {
	margin: 10px 0;
	font-family: inter;
}

/* Media query: narrow desktop */

@media screen and (min-width: 992px) {

header, main {
	width: 60%;
}
	








   

}

/* Media query: wide desktop */

@media screen and (min-width: 1200px) {


}
