* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    color: #000000;
    background-color: #ffffff;    
}

/* Header */

header {
    padding: 30px 2%;
    margin: 0;   
    width: 100%;	
	display: block;
	background-color: green;
}	

.logo {
    width: 100%;
    padding: 0;
    margin: 0;
    color: #000000;    
    font-size: 97%;
    text-decoration: none;
    text-align: left;  
	display: block;	
}

.logo h1 {
	font-size: 3em;
}

nav {
	background-color: yellow;
}





/* Main section */

main {
    height: auto;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    background-color: red;
}

main p {	
	width: 90%;
	margin: 0 auto;	
}

section {
	background-color: purple;
	width: 60%;
	margin: 0 auto;
}

section div {	
	width: 90%;
	margin: 20px auto;	
	padding: 1%;
	background-color: blue;
}


img {
	width: 50%;		
	margin: 0;
	display: block;
}

/* Media query: tablets */

@media screen and (min-width: 768px) {
	
main p {	
	width: 70%;		
}


   
}


/* Media query: narrow desktop */

@media screen and (min-width: 992px) {



section div {	
	width: 60%;	
}
   

}

/* Media query: wide desktop */

@media screen and (min-width: 1200px) {
main p {	
	width: 50%;		
}   

}
